/*登录页css*/
@charset "utf-8";

center{
    display: block;
    text-align: -webkit-center;
  
}
#Head{
    border-bottom: 1px solid #7a7f89;
    height: 40px!important;
}
#Head, #Bottom {
    width: 1200px;
    font-size: 12px;
    color: #333333;
}

#Head {
    margin-top: 15px;
    padding: 0 0 15px 0;
}
#Head .logo:link, .logo:visited, .logo:hover {
    background: url(../images/logo_new.jpg) no-repeat left top;
    display: inline-block;
    height: 50px;
    width: 187px;
}
#Head p {
    float: right;
    margin: 0 5px;
    margin-top: 20px;
}
.wrapper{
    width: 1200px;
    border-bottom: 1px solid #999;
    margin: 50px auto 10px;
}
.login{
    width: 400px;
    border:1px solid #D1D1D1;
    background-color: #fff;
    float: right;
    margin-top: 18px;
    margin-bottom: 20px;
    margin-right: 100px;
}
.tag {
    width: 400px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #cbcbcb;
}
.tag li.on {
    width: 200px;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
    background: #b42025;
    color: #fff;
    font-weight: bolder;
}
.tag li {
    width: 200px;
    height: 35px;
    line-height: 35px;
    float: left;
    text-align: center;
    background: #f5f5f5;
    color: #656565;
    cursor: pointer;
    font-size: 14px;
}
.user_infor {
    width: 415px;
    padding: 10px 20px 10px;
}
.tips {
    clear: both;
    width: 220px;
    min-height: 16px;
    line-height: 16px;
    color: #A10000;
    text-indent: 30px;
    background: url(../images/login_spritesbg.png) -351px -662px no-repeat;
    background-color: #FFF6F7;
    border: 1px solid #CC9998;
    margin-left: 48px;
    display: block;
    visibility: hidden;
}
.newtxt {
    height: 45px;
    width: 360px;
    border: solid 1px #cbcbcb;
    position: relative;
    overflow: hidden;
}
.newtxt label {
    height: 45px;
    line-height: 45px;
    color: #acacac;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: block;
    text-align: left;  
    font-size: 14px;
    text-indent: 10px;
    background: #fff;
}

label {
    cursor: default;
}
.newtxt input.hoverinput {
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: 0.5;
    background: #fff;
}

.newtxt input {
    height: 45px;
    line-height: 45px;
    color: #acacac;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    display: block;
    text-align: left;
    text-indent: 10px;
    z-index: 20;
    border: 0 none;
    font-size: 14px;
}
.tips {
    clear: both;
    width: 220px;
    min-height: 16px;
    line-height: 16px;
    color: #A10000;
    text-indent: 30px;
    background: url(../images/login_spritesbg.png) -351px -662px no-repeat;
    background-color: #FFF6F7;
    border: 1px solid #CC9998;
    margin-left: 48px;
    display: block;
    visibility: hidden;
}
.newtxt {
    height: 45px;
    width: 360px;
    border: solid 1px #cbcbcb;
    position: relative;
    overflow: hidden;
}
.user_infor p {
    padding: 2px 0;
}
.user_infor p input.inputtextcolor {
    color: #000;
}
.bt{
    width: 360px;
}
.bt span{
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #919191;
}
.bt a.forget{
    line-height: 30px;
    display: inline;
    color: #b42025;
    font-size: 14px;
    font-weight: bolder;
    float: right;
}
.bt a.log{
    width: 100%;
    display: block;
    height: 45px;
    line-height: 45px;
    background: #b42025;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
#bottom{
    width: 980px;
    display: inline-table;
    font: 1000 12px "宋体";
    color: #999;
    position: relative;
    padding-top:15px;
}
#bottom .bZp3{
    margin: 0 0 20px 0;
    padding: 0;
    width: 980px;
}
.subFooter {
    margin-bottom: 25px;
    text-align: center;
}
#footerArea .redLogo:link, #footerArea .redLogo:visited, #footerArea .redLogo:hover {
    background: url(../images/login_spritesbg.png) no-repeat scroll 0 -400px transparent;
    display: inline-block;
    height: 42px;
    width: 113px;
}
#bottom a:visited {
    text-decoration: none;
    color: #333333;
}
#bottom a:link {
    text-decoration: none;
    color: #333333;
}
#footerArea .subFooter a, #footerArea .subFooter span {
    margin: 0 10px;
}
#footerArea .subFooter a, #footerArea .subFooter span {
    margin: 0 10px;
}
#footerArea .costumeOrg {
    background: url(../images/login_spritesbg.png) no-repeat scroll 0 -448px transparent;
    display: inline-block;
    height: 45px;
    width: 156px;
}
.subFooter {
    margin-bottom: 25px;
    text-align: center;
}
#footerArea .wsjyBzzx:link, #footerArea .wsjyBzzx:visited, #footerArea .wsjyBzzx:hover {
    background: url(../images/login_spritesbg.png) no-repeat scroll 0 -494px transparent;
    display: inline-block;
    height: 42px;
    width: 96px;
}
#footerArea .vanclMsg:link, #footerArea .vanclMsg:visited, #footerArea .vanclMsg:hover {
    background: url(../images/login_spritesbg.png) no-repeat scroll -97px -494px transparent;
    display: inline-block;
    height: 42px;
    width: 101px;
}
.lines{
    border-bottom:dotted 1px #909090;
    width: 100%;
    height: 1px;
    overflow: hidden;
    margin:30px 0 0 0;
}
.gulp{
    width: 360px;
    height: auto;
    margin: 10px auto;
}
.blank10 {
    clear: both;
    display: block;
    font-size: 1px;
    overflow: hidden;
    height: 10px;
}
.hezuo{
    color: #a4a4a4;
    line-height: 14px;
    font-size: 14px;
    font-weight: bolder;
}
.qkimg a.weixin {
    background-position: 0px 0px;
}
.qkimg a {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/logos.jpg) no-repeat left center;
}
.qkimg a.xiaomi {
    background-position: -147px 0px;
}
.qkimg a {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/logos.jpg) no-repeat left center;
}
.qkimg a.zhifubao {
    background-position: -48px 0px;
}
.qkimg a {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/logos.jpg) no-repeat left center;
}

.qkimg a.qq {
    background-position: -189px 0px;
}
.qkimg a {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/logos.jpg) no-repeat left center;
}
.qkimg a.qihu360 {
    background-position: -228px 0px;
}
.qkimg a {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/logos.jpg) no-repeat left center;
}
.qkimg a.weibo {
    background-position: -93px 0px;
    width: 36px;
}
.qkimg a {
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    margin: 0 10px 0 0;
    background: url(../images/logos.jpg) no-repeat left center;
}
.clear{
    clear: both;
    line-height: 0px;
    font-size: 0px;
}


